<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>院校排名-赣南中专网</title>
    <meta name="description" content="赣南中专，为你打造专业的中专就业指导！">
    <meta name="keywords" content="赣州中专，赣州技校，赣州职业学校，赣州中职院校，江西中专，赣南中专，赣州哪个中专好，中专什么专业好，赣州中专排名">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/code.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/laydate.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/layer.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/layui.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/magicalcoder.css">
    <style>
        .layui-nav .layui-nav-item{
            margin: 0px -10px 0px -10px;
        }
        .layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
            left: 10px;
        }
    </style>
</head>
<body>
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 907px;">
    <div class="layui-fluid layui-bg-white"
         style="left: 1.02041%; top: 0%; width: 97.9611%; height: 1368.01px; padding: 1px; position: absolute;">
        <div class="layui-row">
            <div class="layui-col-xs12 mc-ui-flex-center"
                 style="width: 100%; height: 46px; margin-bottom: 4px; background-color: rgb(26, 145, 133);text-align:center;　display:block;vertical-align: middle;">
                <label style="font-size: 15px; font-weight: bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px; color: rgb(244, 241, 241);">赣州中专网</label>
            </div>
        </div>
        <ul class="layui-nav layui-bg-green " style="padding: 0 0;" >
            <li class="layui-nav-item"> <a style="color: rgb(255, 255, 255); font-size: 15px;" href="/">首页</a> </li>
            <li class="layui-nav-item layui-this"> <a style="color: rgb(255, 255, 255); font-size: 15px;"
                                           href="/college/rank.html">中专排名</a> </li>
            <li class="layui-nav-item"> <a style="color: rgb(255, 255, 255); font-size: 15px;"
                                           href="/college/rank.html">技能培训</a> </li>

            <li class="layui-nav-item">
                <a href="javascript:;" style="color: rgb(255, 255, 255); font-size: 15px;">在线服务</a>
                <dl class="layui-nav-child">
                    <dd><a href="/qa/index.html" style="font-size: 15px;">招生问答</a></dd>
                    <dd><a href="/apply/index.html" style="font-size: 15px;">在线报名</a></dd>
                </dl>
            </li>
        </ul>
        <div class="layui-row" style="height: 23.0114px; top: 0px; margin-top: 8px;">
            <div class="layui-col-xs12 mc-ui-flex-start layui-col-lg12"
                 style="height: 21px; background-color: rgb(255, 247, 247);">
                <span class="layui-breadcrumb"> <a href="../index.html">首页</a> <a>中专排名</a> </span>
            </div>
        </div>
        <div id="content" class="layui-row" style="height: 1170.01px;">
            <div class="layui-col-xs12 mc-ui-flex-center" style="height: 62px;text-align:center;">
                <label style="width: 94.3348%; font-weight: 900; height: 35.0114px; font-size: 19px;">赣州中专学校有那些，学校排名</label>
            </div>

            <div class="txt" style="height: 401px;">
                <div class="layui-row" style="height: 394.011px;">

                    <div class="layui-col-xs12" style="height: 41px;text-align: left;">
                        <a style="width: 93.9692%; font-weight: bold; height: 14.0114px;"></a>
                    </div>
                    <div class="layui-col-xs12" style="height: 111px;">
                        <p style="height: 107.011px;"></p>
                    </div>
                    <div class="layui-col-xs12" style="height: 238px;">
                        <img style="width: 99.4536%; height: 226.011px;" src="../../upload/bg-16-9.png"/>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/layui/layui.all.js"></script>
<script src="../../js/axios.js"></script>
<script src="../../js/config.js"></script>
<script>
    const instance = axios.create({
                                      baseURL: "http://" + globalConfig.host + ":" + globalConfig.port
                                  });

    function collegeList(value, index, array) {
        if (index > 0) {
            $(".txt:eq(" + (index - 1) + ")").after($(".txt")[0].outerHTML);
        }
        $(".txt:eq(" + index + ") div div:eq(0) a").text(NoToChinese(index + 1) + "、" + value.name)
            .attr("href", "/college/college.html?id=" + value.id);
        $(".txt:eq(" + index + ")  div div:eq(1) p").text(value.shortIntroduction);
        if (value.coverImg) {
            $(".txt:eq(" + index + ")  div div:eq(2) img").attr("src", value.coverImg);
        }

    };

    function getCollegeList() {
        // $("#content div:eq(1)").append($("#txt").outerHTML);
        instance.post('/college/school/list', {})
            .then(function (response) {

                response.data.rows.forEach(collegeList);
            })
            .catch(function (error) {
                console.log(error);
            });
    };

    function NoToChinese(num) {
        if (!/^\d*(\.\d*)?$/.test(num)) {
            alert("Number is wrong!");
            return "Number is wrong!";
        }
        var AA = new Array("零", "一", "二", "三", "四", "五", "六", "七", "八", "九");
        var BB = new Array("", "十", "百", "千", "万", "亿", "点", "");
        var a = ("" + num).replace(/(^0*)/g, "").split("."),
            k = 0,
            re = "";
        for (var i = a[0].length - 1; i >= 0; i--) {
            switch (k) {
                case 0:
                    re = BB[7] + re;
                    break;
                case 4:
                    if (!new RegExp("0{4}\\d{" + (a[0].length - i - 1) + "}$").test(a[0])) {
                        re = BB[4] + re;
                    }
                    break;
                case 8:
                    re = BB[5] + re;
                    BB[7] = BB[5];
                    k = 0;
                    break;
            }
            if (k % 4 == 2 && a[0].charAt(i + 2) != 0 && a[0].charAt(i + 1) == 0) {
                re = AA[0] + re;
            }
            if (a[0].charAt(i) != 0) {
                re = AA[a[0].charAt(i)] + BB[k % 4] + re;
            }
            k++;
        }
        if (a.length > 1) //加上小数部分(如果有小数部分)
        {
            re += BB[6];
            for (var i = 0; i < a[1].length; i++) {
                re += AA[a[1].charAt(i)];
            }
        }
        return re;
    };
    window.onload = getCollegeList();
</script>
</body>
</html>
