<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>首页-赣南中专网</title>
		<meta name="description" content="赣南中专，为你打造专业的中专就业指导！">
		<meta name="keywords" content="赣州中专，赣州技校，赣州职业学校，赣州中职院校，江西中专，赣南中专，赣州哪个中专好，中专什么专业好，赣州中专排名">
<link rel="stylesheet" type="text/css" href="../js/layui1/code.css">
<link rel="stylesheet" type="text/css" href="../js/layui1/laydate.css">
<link rel="stylesheet" type="text/css" href="../js/layui1/layer.css">
		<link rel="stylesheet" type="text/css" href="../js/layui/css/layui.css">

<link rel="stylesheet" type="text/css" href="../js/layui1/magicalcoder.css">
	<style>
		.layui-nav .layui-nav-item{
			margin: 0px -10px 0px -10px;
		}
		.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after{
			left: 10px;
		}
	</style>
	</head>


	<body>
		<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 100%;">

			<div class="layui-fluid layui-bg-white" style="left: 0.510204%; top: 0.142857%; width: 93.8776%; height: 1368.01px; padding: 1px;">

				<div class="layui-row">

					<div class="layui-col-xs12 mc-ui-flex-center" style="width: 100%; height: 46px; margin-bottom: 4px; background-color: rgb(26, 145, 133);">

						<label class="layui-form-label mc-ui-flex-center" style="font-size: 15px; font-weight: bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px; color: rgb(244, 241, 241);">赣州中专网</label>
					</div>
				</div>
				<ul class="layui-nav layui-bg-green " style="padding: 0 0;" >
					<li class="layui-nav-item layui-this"> <a style="color: rgb(255, 255, 255); font-size: 15px;" href="/">首页
					</a> </li>
					<li class="layui-nav-item"> <a style="color: rgb(255, 255, 255); font-size: 15px;"
												   href="/college/rank.html">中专排名</a> </li>
					<li class="layui-nav-item"> <a style="color: rgb(255, 255, 255); font-size: 15px;"
												   href="/college/rank.html">技能培训</a> </li>

					<li class="layui-nav-item">
						<a href="javascript:;" style="color: rgb(255, 255, 255); font-size: 15px;">在线服务</a>
						<dl class="layui-nav-child">
							<dd><a href="/qa/index.html" style="font-size: 15px;">招生问答</a></dd>
							<dd><a href="/apply/index.html" style="font-size: 15px;">在线报名</a></dd>
						</dl>
					</li>
				</ul>
					<div class="layui-carousel" style="width: 99.8189%; height: 115px; top: 5px;"
						 mc-attr-bool-autoplay="true"
						 mc-attr-num-interval="3000" mc-attr-str-width="100%" mc-attr-str-anim="default" mc-attr-str-arrow="hover" mc-attr-str-indicator="inside" mc-attr-num-height="250px">
							<div class="magicalcoder-carousel-items" style=" width: 100%; height: 115px;"
								 carousel-item>
								<div class="magicalcoder-carousel-item mc-ui-flex-center" style="padding-right: 0px; margin-right: 4px;">
									<img class="aa" style="width: 100.002%;" src="../upload/bg-16-9.png"/>
								</div>
								<div class="magicalcoder-carousel-item mc-ui-flex-center">
									<img class="aa" style="width: 99.8186%;" src="../upload/bg-16-9.png"/>
								</div>
							</div>
						</div>
				<div class="layui-card" style="margin-top: 9px; width: 100%;">

					<div class="layui-card-header" style="background-color: rgb(26, 145, 133); transform: rotate(0deg); color: rgb(255, 255, 255); font-weight: bold;">
						| 招考指南
					</div>
					<div class="layui-card-body" style="height: 291px;">

						<div class="layui-row" id="exam" style="height: 265px;">

							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane mc-ui-flex-center layui-col-lg6" style="height: 133px;">
								<a style="position: absolute; left: 3.70344%; top: 2.27253%; width: 89.5069%; height: 124.011px;" href="college/rank.html">
								<img class="mc-ui-flex-center" style="width: 50%; position: absolute; left: 16.9591%; top: 5%;" src="../upload/41cfbac7-508c-43b2-aaa9-e39b2c9fc061.png" />
								<span class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px;
								width: 100px; position: absolute; top: 78%;">中专排名</span>
								</a>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane mc-ui-flex-center layui-col-lg6" style="height: 133px;">
								<a style="position: absolute; left: 3.70344%; top: 2.27253%; width: 89.5069%; height:
								 124.011px;" href="profession/rank.html">
								<img style="width: 50%; position: absolute; left: 21.7647%; top: 4%;" src="../upload/cc1894fa-472e-4cce-a3cf-8be382be3cee.png" />
								<span id="uuid346ee79e-97f1-49f1-9862-1170f5ea4f52"
									  class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px;
									  width: 100px; position: absolute; top: 78%;">热门专业</span>
								</a>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">
								<a style="position: absolute; left: 3.70344%; top: 2.27253%; width: 89.5069%; height:
								 124.011px;" href="college/rank.html">
								<img style="width: 50%; position: absolute; left: 25.1462%; top: 6.10687%;" src="../upload/22cc7bea-0865-444a-ac94-69aa5ee393f3.png" />
								<span id="uuid107c25fe-05ea-42dd-b909-4c677939931d" class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; top: 78%;">技能培训</span>
							</a>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">
								<a href="qa/index.html">
								<img style="width: 50%; position: absolute; left: 25.1462%; top: 6.10687%;" src="../upload/bcad275b-d1ba-4881-9c7b-b2d359fc0437.png" />
								<span id="uuidce3ce8ee-c78f-4454-bcd0-58fe9c138b9b" class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; top: 78%;">招生问答</span>
								</a>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">

								<img style="width: 50%; position: absolute; left: 18%; top: 6.10687%;" src="../upload/25a8ebe2-f179-4f81-be39-b1df78de9687.png" />
								<span id="uuid8d2d5d9d-b089-4e2c-a11c-020b34d49379"
									  class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px;
									  width: 100px; position: absolute; top: 78%;"><a href="tel:18214952831">学位预定</a></span>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">
								<a href="apply/index.html">
								<img style="width: 50%; position: absolute; left: 25.1462%; top: 6.10687%;" src="../upload/0408d5a1-ed39-4d8e-94f7-b537a78915cf.png" />
								<span id="uuid7852f66e-ad09-40ef-a74d-47c63c1063db"
									  class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px;
									  width: 100px; position: absolute; top: 78%;">在线报名</span>
							</a>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-card">

					<div class="layui-card-header" style="background-color: rgb(26, 145, 133); width: 92.6895%; color: rgb(255, 255, 255); font-weight: bold;">
						| 学校大全
					</div>
					<div class="layui-card-body" style=" width: 94.5176%;">

						<div class="layui-row" id="college">

							<div class="layui-col-xs4 mc-ui-absolute-pane">
								<a class="college-img" href="college/college.html">
								<img style="width: 85%; position: absolute; left: 11.1111%; top: 2.31214%; " src="../upload/bg-4-3.png" />
								<div style="margin-top: 140px;"></div>
								</a>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" >
								<a class="college-img" href="college/college.html">
								<img style="width: 85%; position: absolute; left: 11.1111%; top: 2.31214%;" src="../upload/bg-4-3.png" />
								<div style="margin-top: 140px;"></div>
								</a>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" >
								<a class="college-img" href="college/college.html">
								<img style="width: 85%; position: absolute; left: 11.1111%; top: 2.31214%; " src="../upload/bg-4-3.png" />
							<div style="margin-top: 140px;"></div>
								</a>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" >
								<a class="college-img" href="college/college.html">
								<img style="width: 85%; position: absolute; left: 11.1111%; top: 2.31214%;"
									 src="../upload/bg-4-3.png" />
								<div style="margin-top: 140px;"></div>
								</a>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" >
								<a class="college-img" href="college/college.html">
								<img style="width: 85%; position: absolute; left: 11.1111%; top: 2.31214%;" src="../upload/bg-4-3.png" />
								<div style="margin-top: 140px;"></div>
								</a>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" >
								<a class="college-img" href="college/college.html">
								<img style="width: 85%; position: absolute; left: 11.1111%; top: 2.31214%;" src="../upload/bg-4-3.png  " />
							<div style="margin-top: 140px;"></div>
								</a>
							</div>
						</div>
						<a style="padding-left: 30%; font-size: 14px; font-weight: bold; color: rgb(30, 159, 255);"
						   target="_blank" href="college/rank.html">&gt;&gt;查看更多学校</a>
					</div>
				</div>
				<div class="layui-card">

					<div class="layui-card-header" style="background-color: rgb(26, 145, 133); color: rgb(255, 255, 255); font-weight: bold;">
						| 招生资讯
					</div>
					<div class="layui-card-body" style="border-bottom-color: rgb(234, 227, 227);">

						<table class="layui-table">

							<tbody>


								<tr>

									<td><a href="news/detail.html"></a></td>
								</tr>
								<tr>

									<td><a href="news/detail.html"></a></td>
								</tr>
								<tr>

									<td><a href="news/detail.html"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="layui-card">

					<div class="layui-card-header" style="background-color: rgb(26, 145, 133); color: rgb(255, 255, 255); font-weight: bold;">
						| 关于我们
					</div>
					<div class="layui-card-body" style="border-bottom-color: rgb(234, 227, 227);">
						<h4>&nbsp;&nbsp;&nbsp;&nbsp;赣州爱学业教育科技中心致力于为所有有志于提高自己文化技术水平的年轻人提供教育及就业咨询服务，包括学校选择咨询、专业方向咨询、就业咨询等。</h4>
						<h4>&nbsp;&nbsp;&nbsp;&nbsp;中心目前主营业务包括中专报名咨询服务、技能学校报名咨询服务以及就业咨询服务。</h4>
						<h4>&nbsp;&nbsp;&nbsp;&nbsp;我中心服务对象包括初中毕业生，社会青少年，以及职场再就业人群等。在学习和就业上帮助年轻人寻找更明确的方向，既是我们的业务，也是我们的一份社会责任，欢迎大家一起加入我们。</h4>
					</div>
				</div>

				<div class="layui-row" style="background-color: #f2f2f2">
					<div class="layui-col-xs12 mc-ui-flex-center" style="width: 100%;  margin-bottom:
					4px;">
						<label class="layui-form-label mc-ui-flex-center" style="font-size: 15px;
						width:auto; font-weight:
						bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px;">2021-2022 @ <a target="_blank" href="https://beian.miit.gov.cn/">赣ICP备2021002725号-1</a></label>
					</div>
					<div class="layui-col-xs12 mc-ui-flex-center" style="width: 100%; margin-bottom:
					4px;">
						<label class="layui-form-label mc-ui-flex-center" style="font-size: 15px;
						width:auto; font-weight:
						bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px;">版权所有：赣州爱学业教育科技中心</label>
					</div>
					<div class="layui-col-xs12 mc-ui-flex-center" style="width: 100%; margin-bottom:
					4px;">
						<label class="layui-form-label mc-ui-flex-center" style="font-size: 15px;
						width:auto; font-weight:
						bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px;">地址：江西省赣州市章贡区龙南路城市家园36栋202室</label>
					</div>
					<div class="layui-col-xs12 mc-ui-flex-center" style="width: 100%; margin-bottom:
					4px;">
						<label class="layui-form-label mc-ui-flex-center" style="font-size: 15px;
						width:auto; font-weight:
						bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px;">电话：18214952831</label>
					</div>

				</div>
			</div>
		</div>

		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/layui1/layui.all.js"></script>
		<script src="../js/axios.js"></script>
		<script src="../js/config.js?v=2" ></script>
		<script>
		layui.use('carousel', function(){
		  var carousel = layui.carousel;
		  //建造实例
		  carousel.render({
		    elem: '.layui-carousel'
		    ,width: '100%' //设置容器宽度//
		    , height: '115px'
		    ,arrow: 'always' //始终显示箭头
		    //,anim: 'updown' //切换动画方式
		  });
		});
		</script>

		<script>
			const instance = axios.create({
				baseURL: "http://"+globalConfig.host+":"+globalConfig.port
			});

			function collegeList(value, index, array) {
				$("#college div a img:eq(" + index + ")").attr("src", value.lego);
				$("#college div a div:eq(" + index + ")").text(value.name);
				var href = $(".college-img:eq(" + index + ")").attr('href');
				$(".college-img:eq(" + index + ")").attr("href",href+"?id="+value.id);

			};

			function getCollegeList() {
				//	var usernameValue = $("#userId").val();

				instance.post('/college/school/simpleList', {

					})
					.then(function(response) {

						response.data.rows.forEach(collegeList);
					})
					.catch(function(error) {
						console.log(error);
					});
			};
			function focusList(value, index, array) {
				if(index<2){
					$(".aa:eq(" + index + ")").attr("src", value.img);
				}

			};
			function getFocusList() {
				//	var usernameValue = $("#userId").val();

				instance.post('/college/focus/list', {

					})
					.then(function(response) {

						response.data.rows.forEach(focusList);
					})
					.catch(function(error) {
						console.log(error);
					});
			};
			function QAList(value, index, array) {
				// $("#college").children("div").children("img:eq("+index+")").attr("src",value.lego);
				var rawQA = value.contentTitle;
				 var txt = rawQA.replace(/<[^>]+>/g,"");
				$(".layui-table tbody tr td a:eq(" + index + ")").text(txt);
				var href = $(".layui-table tbody tr td a:eq(" + index + ")").attr('href');
				$(".layui-table tbody tr td a:eq(" + index + ")").attr("href",href+"?id="+value.id);
			};
			function getQAList() {

				instance.post('/college/news/list', {

					})
					.then(function(response) {
						//拿到school的name值
						//	  usernameValue = response.data.rows[0].name;
						response.data.rows.forEach(QAList);
					})
					.catch(function(error) {
						console.log(error);
					});
			};
			window.onload = getCollegeList();
			window.onload = getQAList();
			window.onload = getFocusList();
		</script>
	</body>
</html>
