<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>问答详情-赣南中专网</title>
    <meta name="description" content="赣南中专，为你打造专业的中专就业指导！">
    <meta name="keywords" content="赣州中专，赣州技校，赣州职业学校，赣州中职院校，江西中专，赣南中专，赣州哪个中专好，中专什么专业好，赣州中专排名">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/code.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/laydate.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/layer.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../../js/layui1/magicalcoder.css">

</head>
<body>
<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 907px;">
    <div class="layui-fluid layui-bg-white"
         style="left: 0.680272%; top: 0%; width: 97.2789%; height: 1368.01px; padding: 1px; position: absolute;">
        <div class="layui-row" style="height: 679px;">
            <div class="layui-col-xs12 mc-ui-flex-center" style="height: 250px;">
                <img style="width:50%;" src="../../upload/0f0264dc-b526-4935-ad5a-6760aad1f797.jpg"/>
            </div>
            <div class="layui-col-xs12" style="height: 721px;">
                <div class="layui-row" style="height: 691px; font-weight: lighter;">

                    <form action="http://localhost/college/applyInfo/add" method="POST" id="apply" class="layui-form">

                        <div class="layui-col-xs12 mc-ui-flex-center" style="height: 45px;">
                            <label class="layui-form-label mc-ui-flex-center"
                                   style="width: 72.9682%; height: 16px; font-weight: bold; color: rgb(245, 6, 6); font-size: 19px;">江西省中等职业学校学生报名表</label>
                        </div>
                        <div class="layui-col-xs12 mc-ui-flex-center" style="height: 45px;">
                            <span class="mc-ui-geometry-char"
                                  style="height: 20px; width: 233px; color: rgb(255, 0, 0); font-size: 15px;">(温馨提示：带*号的是必填项)</span>
                        </div>

                        <div class="layui-col-xs12" style="height: 581px;">


                            <div class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 43px; position: absolute; left: 38.7021%; top: 17.5%; font-size: 15px;">姓名 *</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <input class="layui-input"
                                           style="position: absolute; left: 0%; top: -5%; width: 90.253%; height: 38px;"
                                           name="name" type="text" autocomplete="off" required lay-verify="required"/>
                                </div>
                            </div>
                            <div id="uuid18f5bc77-b709-42b7-b8a4-ad7ebe508847" class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 43px; position: absolute; left: 38.7021%; top: 17.5%; font-size: 15px;">性别 *</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <span class="magical-coder-tmp"
                                          style="position: absolute; left: 0.472813%; top: 0%; width: 18.1176%;"> <input
                                            name="sex" title="男" style="" type="radio" value="0" checked/></span>
                                    <span class="magical-coder-tmp"
                                          style="position: absolute; left: 20.6974%; top: 0%; width: 18.1176%;"> <input
                                            name="sex" title="女" style="" type="radio" value="1"/></span>
                                </div>
                            </div>

                            <div id="uuid4b621f6c-dfab-4744-b9f9-a682acdd85cc" class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 76px; position: absolute; left: 20.1295%; top: 17.5%; font-size: 15px;">联系方式 *</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <input class="layui-input" name="phone"
                                           style="position: absolute; left: 0.70922%; top: -5%; width: 90.7801%;"
                                           type="text" autocomplete="off" required lay-error="手机号不对"
                                           lay-verify="phone"/>
                                </div>
                            </div>

                            <div id="uuiddca7837e-f548-4af5-b254-85dd7211a452" class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 76px; position: absolute; left: 20.1295%; top: 17.5%; font-size: 15px;">报读学校</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <div class="magical-coder-tmp mc-dragging-select"
                                         style="position: absolute; left: 1%; top: 5%; width: 49.1726%;">
                                        <select style="" name="schoolId" id="schoolId" lay-filter="school">
                                            <option value="">-请选择-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="uuid6edf49bd-f4a7-4fb6-b874-d565d83160d9" class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 76px; position: absolute; left: 20.1295%; top: 17.5%; font-size: 15px;">报读专业</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <div class="magical-coder-tmp mc-dragging-select"
                                         style="position: absolute; left: 1%; top: 5%; width: 49.1726%;">
                                        <select style="" name="professionId" id="professionId">
                                            <option value="">-请选择-</option>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div id="uuid6d45444e-31ab-424f-bfee-4ec9843a87df" class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 76px; position: absolute; left: 20.1295%; top: 17.5%; font-size: 15px;">学生类别</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <div class="magical-coder-tmp mc-dragging-select"
                                         style="position: absolute; left: 1%; top: 5%; width: 49.1726%;">
                                        <select style="" name="studentType">
                                            <option value="">-请选择-</option>
                                            <option value="0">初中毕业生</option>
                                            <option value="1">高中毕业生</option>
                                            <option value="2">其他</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="uuid55b014a6-d028-46f3-be0b-ef44455b283d" class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 76px; position: absolute; left: 20.1295%; top: 17.5%; font-size: 15px;">毕业学校</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <input class="layui-input" name="graduationSchool"
                                           style="position: absolute; left: 1%; top: 4%; width: 90.5882%;" type="text"
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <div id="uuid1f369526-070c-4d32-b9e2-15006f894b0b" class="layui-row" style="height: 43px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 76px; position: absolute; left: 20.1295%; top: 17.5%; font-size: 15px;">中考分数</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 42px;">
                                    <input class="layui-input" name="midtermScore"
                                           style="position: absolute; left: 1%; top: 4%; width: 90.5882%;" type="text"
                                           autocomplete="off"/>
                                </div>
                            </div>
                            <div id="uuid7ed5e56f-e0d9-43fb-83dd-9f09ed28ac91" class="layui-row" style="height: 128px;">
                                <div class="layui-col-md6 layui-col-xs3 mc-ui-absolute-pane" style="height: 42px;">
                                    <span class="mc-ui-geometry-char mc-ui-flex-end"
                                          style="height: 22px; width: 76px; position: absolute; left: 20.1295%; top: 17.5%; font-size: 15px;">备注</span>
                                </div>
                                <div class="layui-col-md6 layui-col-xs9 mc-ui-flex-start mc-ui-absolute-pane"
                                     style="height: 125px;">
                                    <textarea class="layui-textarea" name="comment"
                                              style="position: absolute; left: 0.705882%; top: 11.9048%; width: 90.7801%; height: 45px;"
                                              placeholder="请输入内容" rows="50" cols="20" maxlength="200"></textarea>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary" onclick="resetMenu();">重置
                                    </button>
                                </div>
                            </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/layui/layui.all.js"></script>
<script src="../../js/config.js"></script>
<script src="../../js/axios.js"></script>
<script>
    const instance = axios.create({
                                      baseURL: "http://" + globalConfig.host + ":" + globalConfig.port
                                  });
    //Demo
    layui.use('form', function () {
        var form = layui.form, layer = layui.layer;
        getCollegeList();
        //监听提交
        form.on('submit(formDemo)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            // return false;
            $("form").submit();
            // window.parent.layer.closeAll();
            // window.location.href="../index.html";

            window.open("../index.html");

        });
        form.on('select(school)', function (data) {

            $("#professionId").html("<option value=\"-1\">-请选择-</option>");
            instance.post('/college/school/list1', {})
                .then(function (response) {
                    response.data.rows.forEach(collegeList1);
                    layui.form.render("select");
                })
                .catch(function (error) {
                    console.log(error);
                });

        });
    });

    function resetMenu() {
        $("#professionId").empty();
        var contain;
        contain += "<option id = \"\" value=\"\">请选择</option>";
        $("#professionId").html(contain);
    }

    function collegeList1(value, index, array) {
        var schoolId = $("#schoolId").val();
        if (schoolId == value.id) {

            for (var i = 0; i < value.professionList.length; i++) {
                if (i > 0) {
                    $("#professionId option:eq(" + (i - 1) + ")").after($("#professionId option")[i - 1].outerHTML);
                }
                $("#professionId option:eq(" + i + ")").text(value.professionList[i].name);
                $("#professionId option:eq(" + i + ")").attr("value", value.professionList[i].id);

            }
        }
    }

    function collegeList(value, index, array) {

        if (index > 0) {
            $("#schoolId").append("<option value=\"\"></option>");
        }

        $("#schoolId option:eq(" + (index + 1) + ")").text(value.name);
        $("#schoolId option:eq(" + (index + 1) + ")").attr("value", value.id);
    };

    function getCollegeList() {
        $("#schoolId").append("<option value=\"\">-请选择-</option>");
        instance.post('/college/school/list1', {})
            .then(function (response) {
                response.data.rows.forEach(collegeList);
                layui.form.render("select");
            })
            .catch(function (error) {
                console.log(error);
            });
    };
    window.onload = getCollegeList();
</script>

</body>
</html>
