<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>发布</title>
		<meta name="description" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
		<meta name="keywords" content="MagicalCoder,表单布局器,基于jquery,Vue的可视化拖拽布局器">
		<link rel="stylesheet" type="text/css" href="../../js/layui1/code.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui1/laydate.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui1/layer.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui1/layui.css">
		<link rel="stylesheet" type="text/css" href="../../js/layui1/magicalcoder.css">
	</head>
	<body>
		<div id="magicalDragScene" class="mc-root mc-ui-absolute-pane" style="height: 788px;">
			<div class="layui-fluid layui-bg-white" style="left: 0.510204%; top: 0.142857%; width: 93.8776%; height: 1368.01px; padding: 1px;">
				<div class="layui-row">
					<div class="layui-col-xs12 mc-ui-flex-center" style="width: 100%; height: 46px; margin-bottom: 4px; background-color: rgb(26, 145, 133);">
						<label class="layui-form-label mc-ui-flex-center" style="font-size: 15px; font-weight: bolder; word-spacing: 2px; text-align: center; direction: ltr; text-indent: 0px; color: rgb(244, 241, 241);">赣州中专网</label>
					</div>
				</div>
				<ul class="layui-nav layui-bg-green" lay-shrink="all">
					<li class="layui-nav-item">
						<a style="color: rgb(255, 255, 255); font-size: 15px;">院校排名</a>
					</li>
					<li class="layui-nav-item">
						<a style="color: rgb(255, 255, 255); font-size: 15px;" href="javascript:;">专业排名</a>
					</li>
					<li id="uuid46cecb9c-8087-462a-af1a-8b4d2fd111f2" class="layui-nav-item">
						<a style="color: rgb(255, 255, 255); font-size: 15px;" href="javascript:;">招生问答</a>
					</li>
					<li id="uuid869e90bf-fba8-4d20-ac4e-c4c35640fe53" class="layui-nav-item"></li>
					<li id="uuidb7826605-54be-42b9-a2bf-b6a3408f2f99" class="layui-nav-item"></li>
				</ul>
				<div class="layui-carousel" style="width: 99.8189%; height: 250px; top: 6px;" mc-attr-bool-autoplay="true" mc-attr-num-interval="3000" mc-attr-str-width="100%" mc-attr-str-anim="default" mc-attr-str-arrow="hover" mc-attr-str-indicator="inside" mc-attr-num-height="250px">
					<div class="magicalcoder-carousel-items" style="top: 7px; width: 100%; height: 243.011px;" carousel-item>
						<div class="magicalcoder-carousel-item mc-ui-flex-center" style="padding-right: 0px; margin-right: 4px;">
							<img style="width: 100.002%; height: 229px;" src="../../upload/02cb4691-a1be-499c-ab68-5a4b4bd7fe46.jpg"/>
						</div>
						<div class="magicalcoder-carousel-item mc-ui-flex-center">
							<img style="width: 99.8186%; height: 230px;" src="../../upload/4b37b32b-0408-4678-a07e-5ba81fb5980b.jpg"/>
						</div>
					</div>
				</div>
				<div class="layui-card" style="margin-top: 17px; width: 100.185%;">
					<div class="layui-card-header" style="background-color: rgb(26, 145, 133); width: 92.8834%; transform: rotate(0deg); color: rgb(255, 255, 255); font-weight: bold;">| 招考指南</div>
					<div class="layui-card-body" style="height: 291px; width: 94.1973%;">
						<div class="layui-row" style="height: 265px;">
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane mc-ui-flex-center layui-col-lg6" style="height: 133px;">
								<img class="mc-ui-flex-center" style="width: 50%; position: absolute; left: 16.9591%; top: 5%;" src="../../upload/41cfbac7-508c-43b2-aaa9-e39b2c9fc061.png"/>
								<span class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; left: 16.3743%; top: 78%;">重点院校</span>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane mc-ui-flex-center layui-col-lg6" style="height: 133px;">
								<img style="width: 50%; position: absolute; left: 21.7647%; top: 4%;" src="../../upload/cc1894fa-472e-4cce-a3cf-8be382be3cee.png"/>
								<span id="uuid346ee79e-97f1-49f1-9862-1170f5ea4f52" class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; left: 16.3743%; top: 78%;">院校排名</span>
								<a style="position: absolute; left: 3.70344%; top: 2.27253%; width: 89.5069%; height: 124.011px;" href="http://lowcode.magicalcoder.com/magicalcoder/publish.html?ui=layui&pageId=902" target="_self"></a>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">
								<img style="width: 50%; position: absolute; left: 25.1462%; top: 6.10687%;" src="../../upload/22cc7bea-0865-444a-ac94-69aa5ee393f3.png"/>
								<span id="uuid107c25fe-05ea-42dd-b909-4c677939931d" class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; left: 20%; top: 78%;">专业排名</span>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">
								<img style="width: 50%; position: absolute; left: 18%; top: 6.10687%;" src="../../upload/25a8ebe2-f179-4f81-be39-b1df78de9687.png"/>
								<span id="uuid8d2d5d9d-b089-4e2c-a11c-020b34d49379" class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; left: 14%; top: 78%;">热门专业</span>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">
								<img style="width: 50%; position: absolute; left: 25.1462%; top: 6.10687%;" src="../../upload/bcad275b-d1ba-4881-9c7b-b2d359fc0437.png"/>
								<span id="uuidce3ce8ee-c78f-4454-bcd0-58fe9c138b9b" class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; left: 20%; top: 78%;">招生问答</span>
							</div>
							<div class="layui-col-md6 layui-col-xs4 mc-ui-absolute-pane layui-col-lg6" style="height: 133px;">
								<img style="width: 50%; position: absolute; left: 25.1462%; top: 6.10687%;" src="../../upload/0408d5a1-ed39-4d8e-94f7-b537a78915cf.png"/>
								<span id="uuid7852f66e-ad09-40ef-a74d-47c63c1063db" class="mc-ui-geometry-char mc-ui-flex-center" style="height: 20px; width: 100px; position: absolute; left: 20%; top: 78%;">网上报名</span>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-card">
					<div class="layui-card-header" style="background-color: rgb(26, 145, 133); width: 92.6895%; color: rgb(255, 255, 255); font-weight: bold;">| 学校大全</div>
					<div class="layui-card-body" style="height: 323.011px; width: 94.5176%;">
						<div class="layui-row">
							<div class="layui-col-xs4 mc-ui-absolute-pane" style="height: 175px;">
								<img style="width: 78.3626%; position: absolute; left: 11.1111%; top: 2.31214%; height: 125px;" src="../../upload/1b354767-4e52-4c27-ad44-5e5c2f324f94.jpg"/>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" style="height: 175px;">
								<img style="width: 78.3626%; position: absolute; left: 11.1111%; top: 2.31214%; height: 125px;" src="../../upload/263c46fc-e201-4263-9012-e8466d2601d2.jpg"/>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" style="height: 175px;">
								<img style="width: 78.3626%; position: absolute; left: 11.1111%; top: 2.31214%; height: 125px;" src="../../upload/2dd01d35-2da1-4a61-92e5-805244568556.jpg"/>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" style="height: 175px;">
								<img style="width: 78.3626%; position: absolute; left: 11.1111%; top: 2.31214%; height: 125px;" src="../../upload/7c8fe7d0-7175-4667-8668-260bf937566d.jpg"/>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" style="height: 175px;">
								<img style="width: 78.3626%; position: absolute; left: 11.1111%; top: 2.31214%; height: 125px;" src="../../upload/b175c552-787b-4a2d-ae41-b803d2f21484.jpg"/>
							</div>
							<div class="layui-col-xs4 mc-ui-absolute-pane" style="height: 175px;">
								<img style="width: 78.3626%; position: absolute; left: 11.1111%; top: 2.31214%; height: 125px;" src="../..//upload/8bf58493-b53e-45ab-b222-81d6eb9ed361.jpg"/>
							</div>
						</div>
					</div>
				</div>
				<div class="layui-card">
					<div class="layui-card-header" style="background-color: rgb(26, 145, 133); color: rgb(255, 255, 255); font-weight: bold;">| 招生资讯</div>
					<div class="layui-card-body" style="border-bottom-color: rgb(234, 227, 227);">
						<table class="layui-table">
							<tbody>
								<tr></tr>
								<tr>
									<td>读职高要高考分数吗？</td>
								</tr>
								<tr>
									<td>职高秋季招生是什么意思？</td>
								</tr>
								<tr>
									<td>赣州电商中专学校</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
